# MongoDB подключение
# Пример SRV (Atlas):
MONGODB_URI=mongodb+srv://zedd218:9bwLBo1Zj4tPCdIG@tailtalesrpgcluster.7rzyl5w.mongodb.net/?retryWrites=true&w=majority&appName=TailTalesRPGcluster

# Порт сервера
PORT=5000

# URL клиента для CORS
CLIENT_URL=http://localhost:3000

# Redis подключение (опционально)
REDIS_URL=redis://localhost:6379

# Telegram Bot Token (для реальной интеграции)
TELEGRAM_BOT_TOKEN=your_bot_token_here

# Секретный ключ для проверки подписи Telegram
TELEGRAM_SECRET=your_secret_key_here


